/* ============ General settings ================ */

@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@900&family=Josefin+Sans:wght@500&&display=swap'); /* Fonts: Josefin Sans, Inknut Antiqua */

* {
  margin: 0;
  padding: 0;
}

/* ============== Background image =============== */
html {
  background-image: url('images/bg-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

body {
  background-color: rgba(12, 8, 8, 0.687);
  font-family: Josefin Sans, sans-serif;
}

body:before {
  content: '';
  position: absolute;
}

/* =========== Header ===================== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(50, 167, 145);
  padding: 0 5vmin;
  margin-bottom: 2vmax;
}

/* ========== Navigation bar =============== */

/* Img - small trybe logo */
.trybewarts-header-logo {
  width: 4.2vmax;
  height: 4.2vmax;
}

/* Title */
#trybewarts-header-title {
  font: 2.1vmax Inknut Antiqua, serif;
  font-weight: 900;
  color: white;
  display: flex;
  justify-content: center;
}

/* Login form */
.trybewarts-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.button-nav-bar {
  padding: 0.4rem 0.8rem;
  font-weight: 900;
  border: none;
  border-radius: 0.7rem;
  background-color: rgb(116, 12, 125);
  color: white;
  cursor: pointer;
}

.button-nav-bar:active {
  transform: scale(1.1);
  transition: 0.2s;
}

/* =========== Main =================  */
main {
  display: flex;
  margin: 2vmax;
  color: white;
}

.checkbox , input , label {
  cursor: pointer;
}

/* Trybewarts image logo */
#trybewarts-forms-logo {
  height: 500px;
}

/* =========== Evaluation form =================  */
#evaluation-form {
  display: flex;
  flex-flow: column wrap;
  margin: 0.7vmax 2vmax;
  width: 675px;
}

/* All inputs */
input {
  margin: 0.8vmin;
}

.container-form01 {
  margin: 1vmin;
}

/* Select-menu */
#house {
  width: 30%;
}

/* Radio-buttons */
.container-form-white > div {
  color: white;
  margin: 0.5rem;
}

.container-form-white {
  margin-bottom: 2vmax;
}

/* Submit button */
#submit-btn {
  text-align: center;
  font-weight: 900;
  padding: 0.3rem;
  width: 20%;
  background-color: rgb(116, 12, 125);
  color: white;
  border: none;
  border-radius: 0.7rem;
  cursor: pointer;
}

#submit-btn:disabled {
  font-weight: 400;
  background-color: rgb(109, 90, 109);
  border: 1px solid rgb(116, 12, 125);
}

#submit-btn:enabled {
  transform: scale(1.05);
}

#submit-btn:active {
  transform: scale(1.2);
  transition: 0.2s;
}

/* footer */
.container-footer {
  padding: 0.57rem;
  text-align: center;
  color: white;
  background: linear-gradient(0deg, rgba(47, 25, 21, 1) 50%, rgba(37, 20, 17, 1) 100%);
}

/* ================================================================================= */

.bird {
  background-image: url('http://www.iamramraj.com/demo/Flying_birds_CSS_animation_examples/bird-cells.svg');
  background-size: auto 100%;
  width: 88px;
  height: 125px;
  will-change: background-position;
  -webkit-animation-name: fly-cycle;
  animation-name: fly-cycle;
  -webkit-animation-timing-function: steps(10);
  animation-timing-function: steps(10);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.bird--one {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.bird--two {
  -webkit-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}

.bird--three {
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s;
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}

.bird--four {
  -webkit-animation-duration: 1.1s;
  animation-duration: 1.1s;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.bird-container {
  position: absolute;
  top: 20%;
  left: -7.5vw;
  -webkit-transform: scale(0);
  transform: scale(0);
  will-change: transform;
  -webkit-animation-name: fly-right-one;
  animation-name: fly-right-one;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.bird-container--one {
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
  -webkit-animation-delay: 0;
  animation-delay: 0;
}
.bird-container--two {
  -webkit-animation-duration: 16s;
  animation-duration: 16s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.bird-container--three {
  -webkit-animation-duration: 14.6s;
  animation-duration: 14.6s;
  -webkit-animation-delay: 9.5s;
  animation-delay: 9.5s;
}

.bird-container--four {
  -webkit-animation-duration: 16s;
  animation-duration: 16s;
  -webkit-animation-delay: 10.25s;
  animation-delay: 10.25s;
}

@-webkit-keyframes fly-cycle {

  100% {
    background-position: -900px 0;
  }
}

@keyframes fly-cycle {

  100% {
    background-position: -900px 0;
  }
}

@-webkit-keyframes fly-right-one {

  0% {
    left: -10%;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }

  10% {
    left: 10%;
    -webkit-transform: translateY(2vh) scale(0.4);
    transform: translateY(2vh) scale(0.4);
  }

  20% {
    left: 30%;
    -webkit-transform: translateY(0) scale(0.5);
    transform: translateY(0) scale(0.5);
  }

  30% {
    left: 50%;
    -webkit-transform: translateY(4vh) scale(0.6);
    transform: translateY(4vh) scale(0.6);
  }

  40% {
    left: 70%;
    -webkit-transform: translateY(2vh) scale(0.6);
    transform: translateY(2vh) scale(0.6);
  }

  50% {
    left: 90%;
    -webkit-transform: translateY(0) scale(0.6);
    transform: translateY(0) scale(0.6);
  }

  60% {
    left: 110%;
    -webkit-transform: translateY(0) scale(0.6);
    transform: translateY(0) scale(0.6);
  }

  100% {
    left: 110%;
    opacity: 1;
    -webkit-transform: translateY(0) scale(0.6);
    transform: translateY(0) scale(0.6);
  }
}

@keyframes fly-right-one {

  0% {
    left: -10%;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }

  10% {
    left: 10%;
    -webkit-transform: translateY(2vh) scale(0.4);
    transform: translateY(2vh) scale(0.4);
  }

  20% {
    left: 30%;
    -webkit-transform: translateY(0) scale(0.5);
    transform: translateY(0) scale(0.5);
  }

  30% {
    left: 50%;
    -webkit-transform: translateY(4vh) scale(0.6);
    transform: translateY(4vh) scale(0.6);
  }

  40% {
    left: 70%;
    -webkit-transform: translateY(2vh) scale(0.6);
    transform: translateY(2vh) scale(0.6);
  }

  50% {
    left: 90%;
    -webkit-transform: translateY(0) scale(0.6);
    transform: translateY(0) scale(0.6);
  }

  60% {
    left: 110%;
    -webkit-transform: translateY(0) scale(0.6);
    transform: translateY(0) scale(0.6);
  }

  100% {
    left: 110%;
    opacity: 1;
    -webkit-transform: translateY(0) scale(0.6);
    transform: translateY(0) scale(0.6);
  }
}

@-webkit-keyframes fly-right-two {

  0% {
    left: -10%;
    opacity: 1;
    -webkit-transform: translateY(-2vh) scale(0.5);
    transform: translateY(-2vh) scale(0.5);
  }

  10% {
    left: 10%;
    -webkit-transform: translateY(0vh) scale(0.4);
    transform: translateY(0vh) scale(0.4);
  }

  20% {
    left: 30%;
    -webkit-transform: translateY(-4vh) scale(0.6);
    transform: translateY(-4vh) scale(0.6);
  }

  30% {
    left: 50%;
    -webkit-transform: translateY(1vh) scale(0.45);
    transform: translateY(1vh) scale(0.45);
  }

  40% {
    left: 70%;
    -webkit-transform: translateY(-2.5vh) scale(0.5);
    transform: translateY(-2.5vh) scale(0.5);
  }

  50% {
    left: 90%;
    -webkit-transform: translateY(0) scale(0.45);
    transform: translateY(0) scale(0.45);
  }

  51% {
    left: 110%;
    -webkit-transform: translateY(0) scale(0.45);
    transform: translateY(0) scale(0.45);
  }

  100% {
    left: 110%;
    -webkit-transform: translateY(0) scale(0.45);
    transform: translateY(0) scale(0.45);
  }
}

@keyframes fly-right-two {

  0% {
    left: -10%;
    opacity: 1;
    -webkit-transform: translateY(-2vh) scale(0.5);
    transform: translateY(-2vh) scale(0.5);
  }

  10% {
    left: 10%;
    -webkit-transform: translateY(0) scale(0.4);
    transform: translateY(0) scale(0.4);
  }

  20% {
    left: 30%;
    -webkit-transform: translateY(-4vh) scale(0.6);
    transform: translateY(-4vh) scale(0.6);
  }

  30% {
    left: 50%;
    -webkit-transform: translateY(1vh) scale(0.45);
    transform: translateY(1vh) scale(0.45);
  }

  40% {
    left: 70%;
    -webkit-transform: translateY(-2.5vh) scale(0.5);
    transform: translateY(-2.5vh) scale(0.5);
  }

  50% {
    left: 90%;
    -webkit-transform: translateY(0) scale(0.45);
    transform: translateY(0) scale(0.45);
  }

  51% {
    left: 110%;
    -webkit-transform: translateY(0) scale(0.45);
    transform: translateY(0) scale(0.45);
  }

  100% {
    left: 110%;
    -webkit-transform: translateY(0) scale(0.45);
    transform: translateY(0) scale(0.45);
  }
}

